$primary: #b57d09;
$black: #000000;
$white: #fffdf8;

html,
body {
  box-sizing: border-box;
  background-color: $white;
}

/* navigation */
.navbar {
  background-color: $black;
  color: $white;
  overflow: hidden;
  box-sizing: border-box;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    img {
      width: 10rem;
      height: auto;
    }
  }
}

.drawer {
  ul {
    padding: 0;
    li {
      list-style: none;
      padding: 0.5rem 0;
      font-size: 1.2rem;
    }
  }
}
